@import "tailwindcss";

@font-face {
  font-family: 'PrimaryFont';
  src: url('/assets/fonts/primary.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SecondaryFont';
  src: url('/assets/fonts/secondary.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --color-primary: oklch(0.7724 0.172798 65.367);
  --color-primary-contrast: oklch(0.9846 0.0017 247.84);
  --color-secondary: oklch(0.1296 0.0274 261.69);
  --color-secondary-contrast: oklch(0.9846 0.0017 247.84);
  --color-accent: oklch(0.4747 0.135757 44.9806);
  --color-accent-contrast: oklch(0.9846 0.0017 247.84);
  
  --color-neutral: oklch(0.9846 0.0017 247.84);
  --color-neutral-contrast: oklch(0.1296 0.0274 261.69);
  --color-neutral2: oklch(0.9276 0.0058 264.53);
  --color-neutral2-contrast: oklch(0.1296 0.0274 261.69);
  --color-neutral3: oklch(0.7071 0.0224 261.75);
  --color-neutral3-contrast: oklch(0.1296 0.0274 261.69);
  
  --font-primary: 'PrimaryFont', sans-serif;
  --font-secondary: 'SecondaryFont', sans-serif;
}

@layer components {
  .btn-primary {
    @apply cursor-pointer flex w-full justify-center items-center px-4 py-2 border-2 border-transparent bg-primary text-primary-contrast rounded-xl hover:bg-transparent hover:text-primary hover:border-primary transition-all;
  }
  .btn-secondary {
    @apply cursor-pointer flex w-full justify-center items-center px-4 py-2 border-2 border-transparent bg-secondary text-secondary-contrast rounded-xl hover:bg-transparent hover:text-secondary hover:border-secondary transition-all;
  }
  .btn-accent {
    @apply cursor-pointer flex w-full justify-center items-center px-4 py-2 border-2 border-transparent bg-accent text-accent-contrast rounded-xl hover:bg-transparent hover:text-accent hover:border-accent transition-all;
  }
  .btn-neutral {
    @apply cursor-pointer flex w-full justify-center items-center px-4 py-2 border-2 border-transparent bg-neutral text-primary rounded-xl hover:bg-primary hover:text-neutral transition-all;
  }
  .btn-error {
    @apply cursor-pointer flex w-full justify-center items-center px-4 py-2 border-2 border-transparent bg-red-500 text-accent-contrast rounded-xl hover:bg-transparent hover:text-red-500 hover:border-red-500 transition-all;
  }
  .btn-success {
    @apply cursor-pointer flex w-full justify-center items-center px-4 py-2 border-2 border-transparent bg-green-600 text-accent-contrast rounded-xl hover:bg-transparent hover:text-green-600 hover:border-green-600 transition-all;
  }
  .btn-gray {
    @apply cursor-pointer flex w-full justify-center items-center px-4 py-2 border-2 border-transparent bg-gray-500 text-accent-contrast rounded-xl hover:bg-transparent hover:text-gray-500 hover:border-gray-500 transition-all;
  }
  .input-primary {
    @apply p-2 border border-gray-300 bg-white rounded-md focus:outline-none focus:ring-2 focus:ring-primary
  }
  .input-secondary {
    @apply p-2 border border-gray-300 bg-white rounded-md focus:outline-none focus:ring-2 focus:ring-secondary
  }
  .input-accent {
    @apply p-2 border border-gray-300 bg-white rounded-md focus:outline-none focus:ring-2 focus:ring-accent
  }
  .input-disabled {
    @apply p-2 border border-gray-300 bg-gray-200 text-gray-400 rounded-md focus:outline-none focus:ring-0 cursor-not-allowed;
  }
}

html, body {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
}

::-webkit-scrollbar {
  display: none;
}

.nav {
  height: 56px;
}

.minus-nav {
  height: calc(100vh - 56px);
  overflow: scroll;
}

.sup-min-nav {
  min-height: calc(100vh - 56px);
}